
<style type="text/css">
		.checked {
			color: orange;
		}
</style>

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/admin/home">Hệ thống học trực tuyến</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#" style="text-align: left;">
      <i class="fas fa-bars"></i>
    </button>
    {{!-- <button style="margin-left: -650px;"class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button> --}}

    

    <!-- Navbar -->
    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <h5 style="color: aliceblue;">Admin</h5>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Cài đặt</a>
          <a class="dropdown-item" href="/admin/profile">Hồ sơ cá nhân</a>
          <a class="dropdown-item" href="/changePassword">Đổi mật khẩu</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin/logout" data-toggle="modal" data-target="#logoutModal">Đăng xuất</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="./homescreen.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Mục lục</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Quản lý học tập</span>
        </a>
        <div style="width: 100%" class="dropdown-menu" aria-labelledby="pagesDropdown">
                  <a class="dropdown-item" href="/admin/manage-courses">Quản lý khóa học</a>
                  <a class="dropdown-item" href="./kpi/employee_kpi.html">Quản lý chủ đề</a>
                  
                  <a class="dropdown-item" href="#">Quản lý đăng ký mới</a>
        </div>
      </li>      
        
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Quản Lý Tài Khoản</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" href="/admin/manage-students-account">Tài khoản người học</a>
          <a class="dropdown-item" href="/admin/manage-teachers-account">Tài khoản giáo viên</a>
          <a class="dropdown-item" href="rp_overview.html">...</a>
        </div>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/admin/home">Màn hình chính</a>
          </li>
          <li class="breadcrumb-item">
             Quản lý tài khoản
          </li>
          <li class="breadcrumb-item active">Quản lý tài khoản người học </li>
          <li class="breadcrumb-item active">Danh sách khóa học tham gia </li>
        </ol>
        <div style="padding:10px" class="row">
                <div class="col-md-2">
 
                <a href="/admin/create-user-account" class="btn btn-primary btn-block mb-3" role="button" aria-pressed="true">Tạo tài khoản mới  + </a>
                <a href="/back1"  class="btn btn-outline-secondary btn-block mb-3" role="button" aria-pressed="true">Quay lại</a>
              </div>
        
        <div class="col-md-10">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Danh sách khóa học {{userInfo.name}} tham gia</h3>
        <!-- Icon Cards-->
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã khóa</th>
              <th>Tên khóa</th>
              <th>Trạng thái</th>
              <th>Ngày tham gia</th>
              
              <th>Chi tiết</th>
            </tr>
          </thead>
          <tbody id="phumaTakeda">
            {{#each classOfUser}}
                <tr id="{{this.id}}" name="nameTr">
                  <th>{{sum @index 1}}</th>
                  <td>{{this.classId}}</td>
                  <th>{{this.classInfo.className}}</th>
                  <td>{{this.status}}</td>
                  <td>{{this.createdAt}}</td>
                  <td>
                    <!-- <a href="add_employee_kpi.html" style="display: inline-block;"><i class="fas fa-edit"></i></a> -->
                    <a href="/admin/manage-class/edit/{{this.classId}}"><button type="button" class="btn btn-outline-primary">Chi tiết</button></a>
                  </td>
                  
                </tr>
            {{/each}}
          </tbody>
        </table>        
                      </div>
            </div>
          </div>
          </div>
    </div>
</div>
</div>
        <!-- Icon Cards-->
        
      <!-- /.container-fluid -->
      
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="http://localhost:3000/admin/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>

<!--Confirm delete Question-->
<div id="modalDeleteQuestion" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align: right;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bản có chắc chắn muốn chặn người dùng này?</p>
        <p>Chức năng sẽ chặn người dùng truy cập vào hệ thống</p>
        <p id="hideIdQuestionSecond" style="display: none;"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btnSubmitDelete">Chặn người dùng</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="http://localhost:3000/js/Chart.min.js"></script>

<script>
      $('#phumaTakeda').click(function(event){
        //Lấy được id của người dùng
          if(event.target.name=='delete'){
            /* 
                var questionId = $(event.target).closest('tr').attr('id');
                console.log(questionId);
              //Lấy dữ liệu từ id câu hỏi
                $.ajax({
                  url:`http://localhost:3000/admin/manage-lessonquestion/delete/${questionId}`,
                  type:'post',
                  success : function(data){}
                      
                })
            */
                console.log('bolablada');
                var userId = $(event.target).closest('tr').attr('id');
                $('#hideIdQuestionSecond').val(userId);
                $('#modalDeleteQuestion').modal();
          }
      })
      

</script>

    <!-- Bootstrap core JavaScript-->
<script src="http://localhost:3000/vendor/jquery/jquery.min.js"></script>
<script src="http://localhost:3000/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
<script src="http://localhost:3000/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
<script src="http://localhost:3000/vendor/chart.js/Chart.min.js"></script>
<script src="http://localhost:3000/vendor/datatables/jquery.dataTables.js"></script>
<script src="http://localhost:3000/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
<script src="http://localhost:3000/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
<script src="http://localhost:3000/js/demo/datatables-demo.js"></script>
<script src="http://localhost:3000/js/demo/chart-area-demo.js"></script>
