<header>
			<div class="I-header">
				<div class="wrapper">
					<div class="header-wrapper">
						<div class="header-logo">
							<img src="http://localhost:3000/img/bg-log.png">
							<div class="logo align-justify-center">
								<a href="/user/home"><img src="http://localhost:3000/logoelearning.png"></a>
							</div>
						</div>
						<div class="header-search align-justify-center lp fp">
							<div class="search-wrapper">
								<!--Thử nghiệm chuyển từ thẻ div sang thẻ form-->
								<form class="search-wrapper" method="POST" action="/user/all-courses/search">
									<input type="" name="findCourse" placeholder="Tìm kiếm khóa học">
									<button  type="submit" class="align-justify-center btn btn-primary" ><i class="fas fa-search">Tìm kiếm</i></button>
									
								</form>
							</div>
						</div>
						
						<div class="header-action align-justify-center">
							
							<a href="/user/user-profile">{{userInfo.email}}</a>
							
							<a href="" class="avatar">
								{{#if userInfo.linkImg}}
									<img alt="http://localhost:3000/img/bg-log.png" src="http://localhost:3000/{{userInfo.linkImg}}">
								{{else }}
									<img src="http://localhost:3000/img/bg-log.png" >
									{{/if}}
							</a>
							<div class="customer-menu lp">
								<i class="fas fa-caret-down"></i>
								<div class="menu-wrapper">
									<a href="/user/my-class"><i class="fas fa-book"></i>Khóa học của tôi</a>
									<a href="/user/user-profile"><i class="fas fa-user"></i>Thông tin cá nhân</a>
									<a href="/user/onprocessing-class"><i class="fas fa-book"></i>Yêu cầu đang xử lý</a>
									<a href="/user/changePassword"><i class="fas fa-key"></i>Đổi mật khẩu</a>
									<a href="/history"><i class="fas fa-book"></i>Lịch sử khóa học</a>
									<a href="/user/logout"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a>
								</div>
							</div>
							<div href="" class="btns sp open-menu"><i class="fas fa-bars"></i></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="I-course">
				<div class="wrapper">
					<div class="course-wrapper">
						<div class="row">
							<div class="col-xs-12 col-sm-12-col-md-3 col-lg-3 lp">
								<div class="course-category">
									<div class="course-category-wrapper">
										<div class="course-category-title">
											<h4>Các chủ đề</h4>
										</div>
										{{#each allCategory}}
											<a href="/user/all-courses/category/{{this.id}}" class="course-category-item">{{this.categoryName}}</a>
										{{/each}}
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12-col-md-9 col-lg-9">
								
								<div class="course-list-wrapper">
									<div class="course-list-title m-b-10" >
										Các khóa học có trên hệ thống
									</div>
									<form action="/user/all-courses" method="POST">
											
										<div class="form-group">
											<label for="exampleFormControlSelect1">Môn học</label>
											<select name='courseName' class="form-control" id="subjectName">
												<option value="#">Chọn môn học</option>
												{{#each allCourse}}
														<option name='courseName' value="{{this.id}}">{{this.courseName}}</option>
												{{/each}}
											</select>
										</div>
										
									</form>
									<p class="m-b-10">Danh sách các khóa học hiện đang có trên hệ thống</p>
									<div class="row" id="allCourseSecond">
										{{#each dataAllClass}}
											<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" >
												<div class="course-item">
													<div class="item-image">
														<img style="max-height: 80px; max-width: 230px;" src="http://localhost:3000/{{this.classAvatarImg}}">
													</div>
													<div class="item-body" style="min-height: 212px;">
														<a href="" class="title">{{this.className}} </a>
														<p> Học phí trọn gói: {{this.classPrice}} đ</p> 
														<p>Ngày bế giảng: {{this.dayEnd}}</p> 
														<p>Giáo viên: {{this.infoTeacher.name}} </p>
														<p>Kinh nghiệm : {{this.infoTeacher.experience}}</p>
														<a href="/user/loged-CourseDetail/{{this.id}}" class="view" style="background-color: blue;">Chi tiết</a>
													</div>
												</div>

											</div>
											
										{{/each}}
									</div>
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
		    <div class="I-footer">
		        <div class="footer_contact">
		            <div class="wrapper">
		                <div class="row">
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <a href="" class="full_logo">
		                            <img src="http://localhost:3000/logoelearning.png">
									
		                        </a>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Về chúng tôi</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span>Admin : Trần Minh Sơn</span>
		                                <span><i class="fas fa-phone"></i> <a href="tel:0" class="telephone">(+84) 0385853267</a></span>
		                                <span><i class="fas fa-envelope"></i> <a href="mailto:" class="time">anhnangphuongmai98@gmail.com</a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Danh mục</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span><a href="">*</a></span>
		                                <span><a href=""></a></span>
		                                <span><a href=""></a></span>
		                                <span><a href=""></a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Theo dõi chúng tôi:</h5>
		                            </div>
		                            <div class="contact_content">
		                                <div class="social_wrapper">
		                                    <a class="social-item" href="<?php echo $info->fb ?>"><i class="fab fa-facebook-f"></i></a>
		                                    <a class="social-item" href="<?php echo $info->linkin ?>"><i class="fab fa-linkedin-in"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="copyright">
		            <div class="wrapper">
		                <div class="pull-left">
		                    Copyright © 2021. All rights reserved. 
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
		<div class="menu sp">
			<div class="menu-wrapper">
				<ul class="main_navigation">
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Giáo viên</a></li>
					<li><a href="">Danh mục</a></li>
					<li class="sub_navigation">
						<a href="">Thư viện</a>
						<div class="sub_nav_wrapper">
							<ul>
								<li><a href="">Sách A</a></li>
								<li><a href="">Sách B</a></li>
								<li><a href="">Sách C</a></li>
								<li><a href="">Sách D</a></li>
								<li><a href="">Sách R</a></li>
								<li><a href="">Sách T</a></li>
							</ul>
						</div>
						<div class="open_sub">
							<i class="fas fa-sort-down"></i>
						</div>
					</li>
					<li><a href="">Phòng thi</a></li>
					<li><a href="" class="login-button">Đăng nhập</a></li>
					<li><a href="" class="login-button">Đăng kí</a></li>
				</ul>
			</div>
		</div>
		<script>
			$('#subjectName').on('change',function(){
				console.log('Thông tin mã môn học là :')
				let subjectValue = $(this).children(":selected").attr("value");
				
				console.log(subjectValue);
					$.ajax({
						type:'GET',
						url:`http://localhost:3000/user/all-courses/fetchDataCourse/${subjectValue}`,
						success : function(result){
							
								$('#allCourseSecond').empty();
								$.each(result.bla, function (i, item) {
									
									let classId = item.id;
									let classPrice = item.classPrice;
									let className = item.className;
									let dayEnd = item.dayEnd;
									let classAvatarImg = item.classAvatarImg;
									let teacherName = item.infoTeacher.name;
									let experience = item.infoTeacher.experience;
									let stringInfo = '';
									stringInfo +=`<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="max-height: 800px;"><div class="course-item">`
									stringInfo +=`<div class="item-image"><img style="max-height: 80px; max-width: 230px;" src="http://localhost:3000/${classAvatarImg}"></div>`;
									stringInfo +=`<div class="item-body" style="min-height: 210px">`;
									stringInfo += `<a href="/user/loged-CourseDetail/${classId}" class="title">${className}</a>`;
									stringInfo += `<p>Học phí trọn gói : ${classPrice} đ</p>`;
									stringInfo +=`<p>Ngày bế giảng :${dayEnd} </p>`;
									stringInfo +=`<p>Giáo viên : ${teacherName}</p>`;
									stringInfo +=`<p>Kinh nghiệm : ${experience}</p>`;
									stringInfo += `<a href="/user/loged-CourseDetail/${classId}" class="view" style="background-color: blue;">Chi tiết</a>`;
									stringInfo +="</div></div></div>";
									$('#allCourseSecond').append(stringInfo);
									$('#allCourseSecond').append('<br>');
								});
						}
					})
				
			})
		</script>
		<script src="https://kit.fontawesome.com/d8162761f2.js"></script>
		<script type="text/javascript" src="http://localhost:3000/js/bootstrap3.js"></script>
		<script type="text/javascript" src="http://localhost:3000/js/owl.carousel.js"></script>
		<script type="text/javascript" src="http://localhost:3000/js/window.js"></script>