<header>
			
			<div class="I-header">
				<div class="wrapper">
					<div class="header-wrapper">
						<div class="header-logo">
							<img src="http://localhost:3000/img/bg-log.png">
							<div class="logo align-justify-center">
								<a href="/user/home"><img src="http://localhost:3000/logoelearning.png"></a>
							</div>
						</div>
						<div class="header-search align-justify-center lp fp">
							<div class="search-wrapper">
								<!--Thử nghiệm chuyển từ thẻ div sang thẻ form-->
								<form class="search-wrapper" method="POST" action="/user/all-courses/search">
									<input type="" name="findCourse" placeholder="Tìm kiếm khóa học">
									<button  type="submit" class="align-justify-center btn btn-primary" ><i class="fas fa-search">Tìm kiếm</i></button>
									
								</form>
							</div>
						</div>
						<div class="header-action align-justify-center">
							<a href="/user/user-profile">{{userInfo.email}}</a>
							
							<a href="" class="avatar">
								{{#if userInfo.linkImg}}
									<img alt="http://localhost:3000/img/bg-log.png" src="http://localhost:3000/{{userInfo.linkImg}}">
								{{else }}
									<img src="http://localhost:3000/img/bg-log.png" >
									{{/if}}
							</a>
							<div class="customer-menu lp">
								<i class="fas fa-caret-down"></i>
								<div class="menu-wrapper">
									<a href="/user/home"><i class="fas fa-book"></i>Trang chủ</a>
									<a href="/user/my-class"><i class="fas fa-book"></i>Khóa học của tôi</a>
									<a href="/user/user-profile"><i class="fas fa-user"></i>Thông tin cá nhân</a>
									<a href="/user/onprocessing-class"><i class="fas fa-book"></i>Yêu cầu đang xử lý</a>
									<a href="/user/changePassword"><i class="fas fa-key"></i>Đổi mật khẩu</a>
									<a href="/history"><i class="fas fa-book"></i>Lịch sử khóa học</a>
									<a href="/user/logout"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a>
								</div>
							</div>
							<div href="" class="btns sp open-menu"><i class="fas fa-bars"></i></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="I-customer">
				<div class="wrapper">
					<div class="customer-wrapper">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
								<div class="customer-nav">
									<a href="/user/my-class"><i class="fas fa-book"></i>Khóa học của tôi</a>
									<a href="/user/user-profile"><i class="fas fa-user"></i>Thông tin cá nhân</a>
									<a href="/user/onprocessing-class"><i class="fas fa-book"></i>Yêu cầu đang xử lý</a><br>
									<a href="/user/refused-course"><i class="fas fa-book"></i>Yêu cầu khóa học bị từ chối</a>
									<a href="/user/changePassword"><i class="fas fa-key"></i>Đổi mật khẩu</a>
									<a href="/history"><i class="fas fa-book"></i>Lịch sử khóa học</a>
									<a href="/user/logout"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a>

								</div>
								<div class="customer-nav">
									
										{{#if notifications}}
											
											<div class="alert alert-success" role="alert">
											<h4 class="alert-heading">Cảm ơn!</h4>
											<p>Yêu cầu cho khóa học của bạn cần chờ quản trị viên phê duyệt </p>
											<hr>
											
											</div>
										{{/if}}
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
								<div class="customer-main">
									<h3 class="m-b-20">Các khóa học đang chờ phê duyệt</h3>
										
										<div class="course-list-wrapper">
											{{#each onprocessingClass}}
												<div class="course-list-title m-b-10">
													{{this.cate}}
												</div>
												<div class="row">
													{{#if this.key0.className}}
														<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
															<div class="course-item">
																<div class="item-image">
																	<img style="max-width: 191px; max-height: 80px;" src="http://localhost:3000/{{this.key0.classAvatarImg}}">
																</div>
																<div class="item-body">
																	<a href="" class="title">{{this.key0.className}} </a>
																	<p> Học phí trọn gói: {{this.key0.classPrice}} </p> 
																	<p>Ngày bế giảng: {{this.key0.dayEnd}} </p> 
																	<p>Giáo viên: Có kn </p>
																	<a href="/user/not-register-coursedetail/view/{{this.key0.id}}" class="view">Truy cập</a>
																</div>
															</div>
														</div>
													{{else }}
																	
														{{/if }}
													{{#if this.key1.className}}
														<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
															<div class="course-item">
																<div class="item-image">
																	<img style="max-width: 191px; max-height: 80px;" src="http://localhost:3000/{{this.key1.classAvatarImg}}">
																</div>
																<div class="item-body">
																	<a href="" class="title">{{this.key1.className}} </a>
																	<p> Học phí trọn gói: 0 đồng </p> 
																	<p>Ngày bế giảng: {{this.key1.dayEnd}} </p> 
																	<p>Giáo viên: có kn </p>
																	<a href="/user/not-register-coursedetail/view/{{this.key1.id}}" class="view">Truy cập</a>
																</div>
															</div>
														</div>
													{{else }}
																	
														{{/if }}
													{{#if this.key2.className}}
														<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
															<div class="course-item">
																<div class="item-image">
																	<img src="images/2x3.png">
																</div>
																<div class="item-body">
																	<a href="" class="title">Luyện thi vào lớp 10 môn Ngữ Văn </a>
																	<p> Học phí trọn gói: 400.000 đồng </p> 
																	<p>Ngày bế giảng: 30-06-2022 </p> 
																	<p>Giáo viên: Cô Đỗ Khánh Phượng </p>
																	<a href="/user/not-register-coursedetail/view/{{this.key2.id}}" class="view">Truy cập</a>
																</div>
															</div>
														</div>
													{{else }}
																	
														{{/if }}
													{{#if this.key3.className}}
													<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
														<div class="course-item">
															<div class="item-image">
																<img src="images/2x3.png">
															</div>
															<div class="item-body">
																<a href="" class="title">Luyện thi vào lớp 10 môn Ngữ Văn </a>
																<p> Học phí trọn gói: 400.000 đồng </p> 
																<p>Ngày bế giảng: 30-06-2022 </p> 
																<p>Giáo viên: Cô Đỗ Khánh Phượng </p>
																<a href="/user/not-register-coursedetail/view/{{this.key3.id}}" class="view">Truy cập</a>
															</div>
														</div>
													</div>
													{{else }}
																	
														{{/if }}
													{{#if this.key4.className}}
													<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
														<div class="course-item">
															<div class="item-image">
																<img src="images/2x3.png">
															</div>
															<div class="item-body">
																<a href="" class="title">Luyện thi vào lớp 10 môn Ngữ Văn </a>
																<p> Học phí trọn gói: 400.000 đồng </p> 
																<p>Ngày bế giảng: 30-06-2022 </p> 
																<p>Giáo viên: Cô Đỗ Khánh Phượng </p>
																<a href="" class="view">Truy cập</a>
															</div>
														</div>
													</div>
													{{else }}
																	
														{{/if }}
													{{#if this.key5.className}}
													<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
														<div class="course-item">
															<div class="item-image">
																<img src="images/2x3.png">
															</div>
															<div class="item-body">
																<a href="" class="title">Luyện thi vào lớp 10 môn Ngữ Văn </a>
																<p> Học phí trọn gói: 400.000 đồng </p> 
																<p>Ngày bế giảng: 30-06-2022 </p> 
																<p>Giáo viên: Cô Đỗ Khánh Phượng </p>
																<a href="" class="view">Truy cập</a>
															</div>
														</div>
													</div>
													{{else }}
																	
														{{/if }}
													{{#if this.key6.className}}
													<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
														<div class="course-item">
															<div class="item-image">
																<img src="images/2x3.png">
															</div>
															<div class="item-body">
																<a href="" class="title">Luyện thi vào lớp 10 môn Ngữ Văn </a>
																<p> Học phí trọn gói: 400.000 đồng </p> 
																<p>Ngày bế giảng: 30-06-2022 </p> 
																<p>Giáo viên: Cô Đỗ Khánh Phượng </p>
																<a href="" class="view">Truy cập</a>
															</div>
														</div>
													</div>
													{{else }}
																	
														{{/if }}
													{{#if this.key7.className}}
													<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
														<div class="course-item">
															<div class="item-image">
																<img src="images/2x3.png">
															</div>
															<div class="item-body">
																<a href="" class="title">Luyện thi vào lớp 10 môn Ngữ Văn </a>
																<p> Học phí trọn gói: 400.000 đồng </p> 
																<p>Ngày bế giảng: 30-06-2022 </p> 
																<p>Giáo viên: Cô Đỗ Khánh Phượng </p>
																<a href="" class="view">Truy cập</a>
															</div>
														</div>
													</div>
													{{else }}
																	
														{{/if }}
													
												</div>
											{{/each}}
										</div>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
										
		</main>
		<footer class="footer">
		    <div class="I-footer">
		        <div class="footer_contact">
		            <div class="wrapper">
		                <div class="row">
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <a href="" class="full_logo">
		                            <img src="http://localhost:3000/logoelearning.png">
									
		                        </a>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Về chúng tôi</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span>Admin : Trần Minh Sơn</span>
		                                <span><i class="fas fa-phone"></i> <a href="tel:0" class="telephone">(+84) 0385853267</a></span>
		                                <span><i class="fas fa-envelope"></i> <a href="mailto:" class="time">anhnangphuongmai98@gmail.com</a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Danh mục</h5>
		                            </div>
		                            <div class="contact_content">
		                                <span><a href="">*</a></span>
		                                <span><a href=""></a></span>
		                                <span><a href=""></a></span>
		                                <span><a href=""></a></span>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="col-xs-12 col-xm-12 col-md-6 col-lg-3 col-xl-3">
		                        <div class="contact_wrapper">
		                            <div class="contact_title">
		                                <h5>Theo dõi chúng tôi:</h5>
		                            </div>
		                            <div class="contact_content">
		                                <div class="social_wrapper">
		                                    <a class="social-item" href="<?php echo $info->fb ?>"><i class="fab fa-facebook-f"></i></a>
		                                    <a class="social-item" href="<?php echo $info->linkin ?>"><i class="fab fa-linkedin-in"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="copyright">
		            <div class="wrapper">
		                <div class="pull-left">
		                    Copyright © 2021. All rights reserved. 
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
		<div class="menu sp">
			<div class="menu-wrapper">
				<ul class="main_navigation">
					<li><a href="">Giới thiệu</a></li>
					<li><a href="">Giáo viên</a></li>
					<li><a href="">Danh mục</a></li>
					<li class="sub_navigation">
						<a href="">Thư viện</a>
						<div class="sub_nav_wrapper">
							<ul>
								<li><a href="">Sách A</a></li>
								<li><a href="">Sách B</a></li>
								<li><a href="">Sách C</a></li>
								<li><a href="">Sách D</a></li>
								<li><a href="">Sách R</a></li>
								<li><a href="">Sách T</a></li>
							</ul>
						</div>
						<div class="open_sub">
							<i class="fas fa-sort-down"></i>
						</div>
					</li>
					<li><a href="">Phòng thi</a></li>
					<li><a href="" class="login-button">Đăng nhập</a></li>
					<li><a href="" class="login-button">Đăng kí</a></li>
				</ul>
			</div>
		</div>
		<script src="https://kit.fontawesome.com/d8162761f2.js"></script>
		<script type="text/javascript" src="http://localhost:3000/js/bootstrap3.js"></script>
		<script type="text/javascript" src="http://localhost:3000/js/owl.carousel.js"></script>
		<script type="text/javascript" src="http://localhost:3000/js/window.js"></script>